.contacto{
	background: #49C5C6;
	padding: 15px;
}

.contacto h2{
	color: #fff;
}

.datos-contacto{
	display: block;
	text-align: left;
	height: 120px;
	line-height: 1;
	padding: 15px;
}

.datos-contacto .icon-whatsapp, .datos-contacto .icon-envelope{	
	display: inline-block;  
    font-size: 1.2em; 
    margin-right: 8px;  
}

.datos-contacto p{
	color: #fff;
	margin: 5px 0;
	line-height: 2;
	height: 30px;
}
/*
label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
	font-weight: bold;
}*/

input[type=text], input[type=tel], input[type=email], .formulario select {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #333;
}

#submit {
	border:none;
	margin-top:20px;
	cursor:pointer;
}

.modal-open .modal{
	overflow-x: hidden;
	overflow-y: auto;
}

.modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: none;
	overflow: hidden;
	outline: 0;
}

.fade{
	opacity: 0;
	transition: opacity .15s linear;
}

.fade.show{
	opacity: 1;
}

.modal.show .modal-dialog{
	transform: translate(0,0);
	transition: transform .3s ease-out;
	transition: -webkit-transform .3s ease-out;
	transition:-moz-transform .3s ease-out;
	transition:-ms-transform .3s ease-out;
	transition:-o-transform .3s ease-out;
}

.modal-dialog{
	position: relative;
	width: auto;
	margin: .5rem;
	pointer-events: none;
}

.alert{
    position: relative;
    width: 450px;
	max-width: 100%;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    left: 50%;
    transform: translateX(-50%);
}

.alert-success{
	color: #155724;
	background: #55DBDC;
	border-color: #49C5C6;
}

.close:not(:disabled):not(.disabled){
	cursor: pointer;
}

.button-close{
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
}

.close{
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity .5;
}

.btn-enviar{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    color: #499dc6;
    cursor: pointer;
    background: linear-gradient(to right, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 55%, rgba(247,247,247,1) 100%);
}

.copyR{
	text-align: center;
	margin: 15px auto;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 3;
	color: #fff;
}